name: Update README2

on:

  schedule:

    - cron: '0 */12 * * *'
    
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    name: Recent GitHub Activity - Profile Readme

    steps:

      - uses: actions/checkout@v5.0.0

      - uses: Readme-Workflows/recent-activity@v2.4.1

        env:

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
